user urler;
error_log /dev/stderr error;

worker_processes 1;

env DATA_FOLDER;
env BASE_URL;
env PORT;
env LOG_FORMAT;
env DEBUG;

events {
  worker_connections 1024;
}

http {
  real_ip_header X-Forwarded-For;
  real_ip_recursive on;

  include /usr/local/openresty/nginx/conf/mime.types;
  default_type application/octet-stream;

  access_log /dev/stdout combined;
  access_log off;
  log_not_found off;

  limit_req_zone $binary_remote_addr zone=api:10m rate=10r/s;

  error_page 429 = @too_many_requests;

  init_by_lua_block {
    log = require("utils.logging")
    ENV = require("utils.env")
    log.info(string.format("Server running on %s:%s", ENV.BaseUrl, ENV.Port))
  }

  server {
    listen ${PORT};
    server_name ${SERVER_NAME};
    log_by_lua_block {
      log.debug("request", {
        status = ngx.status,
        method = ngx.req.get_method(),
        uri = ngx.var.request_uri,
        ip = ngx.var.remote_addr,
        host = ngx.var.host,
        bytes = tonumber(ngx.var.body_bytes_sent),
        request_time = tonumber(ngx.var.request_time),
        -- ua = ngx.var.http_user_agent,
        -- referer = ngx.var.http_referer,
      })
    }

    location / {
      index index.html;
      root /urler/frontend;
    }

    location = /greetings {
      default_type text/html;
      content_by_lua_block {
        local headers = ngx.req.get_headers()
        ngx.say("Hello Mister " .. ngx.req.get_headers()["user-agent"])
      }
    }

    location = /api/shorten {
      limit_req zone=api;
      limit_req_status 429;
      default_type application/json;
      content_by_lua_file /urler/api/shorten.lua;
    }

    location @too_many_requests {
      default_type application/json;
      return 429 "{\"error\":\"too many requests\"}";
    }
  }
}
